<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='resources/styles/styles.css')}}">
    </head>
    <body class="background">
        <section class="full-height">
        <div class="absolute-center">
            <div name="form" class="absolute-center">
                <form class="flex-container" id="main_form">
                    <h2>Секция актёров</h2>
                    <div class="bold center-text white flex-item" style="margin-bottom: -20px;">Период</div>
                    <div class="flex-item center" id="interval_award_date">
                        <input class="flex-item" name="from" type="date">
                        <p class="white"> - </p>
                        <input class="flex-item" name="until" type="date">
                    </div>
                    <div class="bold center-text white flex-item" style="margin-bottom: -20px;">Возраст</div>
                    <div class="flex-item center" id="interval_age">

                        <input class="flex-item" name="from" type="text" placeholder="От" pattern="^[0-9]+$">
                        <p class="white"> - </p>
                        <input class="flex-item" name="until" type="text" placeholder="До" pattern="^[0-9]+$">
                    </div>
                    <input id = "some" class="flex-item" name="name" type="text" placeholder="Перечислите спектакли через запятую" pattern="">
                    <select class="flex-item" name="sex">
                        <option value="М">Мужчина</option>
                        <option value="Ж">Женщина</option>
                        <option value="">Любой</option>
                    </select>
                </form>
            </div>
            <div class="mt-20">
                    <button id="send" type="button">Отправить</button>
                    <button id="clear" type="button" style="margin-left: 20px;">Очистить</button>    
            </div>
            <div id = "error" class="mt-20 absolute-center"></div>
        </div>
            
        </section>
    <script src="{{ url_for('static', filename='js/search_forms.js')}}"></script>
	</body>
</html>