<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='resources/styles/styles.css')}}">
	</head>
    <body>
    	<h1 class="white">Секция для поиска информации</h1>
    	<div class="absolute-center width-100">
	    	<div class="flex-container-2 width-100">
	    		<a class="white normal-text fb-100" href="search_forms/employees">
	    			Формы для работников
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/repertoire_plays">
	    			Формы для спектаклей из репертуара
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/authors">
	    			Формы для авторов
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/plays">
	    			Формы для спектаклей
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/actors_for_role">
	    			Формы для актёры для роли
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/actors">
	    			Формы для актёров
	    		</a>
	    		<a class="white normal-text fb-100" href="search_forms/roles_for_actor">
	    			Формы для ролей актёра
	    		</a>
                <a class="white normal-text fb-100" href="search_forms/sold_tickets">
	    			Формы для проданных билетов
	    		</a>
                <a class="white normal-text fb-100" href="search_forms/performance_revenue">
	    			Формы для выручки за спектакль
	    		</a>
                <a class="white normal-text fb-100" href="search_forms/performances_vacant_seats">
	    			Формы для поиска свободных мест на спектакли
	    		</a>
				<a class="white normal-text fb-100" href="search_forms/performances_vacant_seats_count">
	    			Формы для поиска количества свободных мест на спектакли
	    		</a>
                <a class="white normal-text fb-100" href="search_forms/repertoires_play">
	    			Формы для конкретного спектакля из репертуара
	    		</a>
	    	</div>
    	</div>
	</body>
</html>
