<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='resources/styles/styles.css')}}">
	</head>
    <body class="full-viewport">
    <div class="navbar">
		<a class="navbar-el" href="/modify_forms/employee">Формы для работника</a>
		<a class="navbar-el" href="/modify_forms/actor">Формы для актёра</a>
		<a class="navbar-el" href="/modify_forms/producer">Формы для постановщика</a>
		<a class="navbar-el" href="/modify_forms/musician">Формы для музыканта</a>
		<a class="navbar-el" href="/modify_forms/contest">Формы для конкурса</a>
		<a class="navbar-el" href="/modify_forms/role">Формы для роли</a>
        <a class="navbar-el" href="/modify_forms/actor_for_role">Формы для роли актёра</a>
		<a class="navbar-el" href="/modify_forms/play">Формы для спектакля</a>
        <a class="navbar-el" href="/modify_forms/author">Формы для автора</a>
        <a class="navbar-el" href="/modify_forms/repertoire">Формы для спектакля в репертуар</a>
		<a class="navbar-el" href="/modify_forms/musicians_for_play">Формы для музыкантов для спектакля из репертуара</a>
        <a class="navbar-el" href="/modify_forms/ticket">Формы для билета на спектакль</a>
    </div>
    <section class="welcome-section full-height">
		<div class="absolute-center full-height">
			<h1>
				Секция модифицирования данных
			</h1>
		</div>
    </section>
	</body>
</html>