<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='resources/styles/styles.css')}}">
	</head>
    <body class="full-viewport">
    <div class="navbar">
		<a class="navbar-el" href="/modify_forms">Формы для модифицирования данных</a>
		<a class="navbar-el" href="/search_forms">Формы для поиска данных</a>
    </div>
    <section class="welcome-section full-height">
		<div class="absolute-center full-height">
			<h1>
				Добро пожаловать в наш кинотеатр
			</h1>
		</div>
    </section>
	</body>
</html>

